@font-face {
  font-family: "AnimeAceBold";
  src: url("/fonts/AnimeAceBold.eot");
  src: local("AnimeAceBold"), local("Anime Ace Bold"),
    url("/fonts/AnimeAceBold.woff2") format("woff2"),
    url("/fonts/AnimeAceBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AnimeAceRegular";
  src: url("/fonts/AnimeAceRegular.eot");
  src: local("AnimeAceRegular"), local("Anime Ace Regular"),
    url("/fonts/AnimeAceRegular.woff2") format("woff2"),
    url("/fonts/AnimeAceRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AnimeAceItalic";
  src: url("/fonts/AnimeAceItalic.eot");
  src: local("AnimeAceItalic"), local("Anime Ace Italic"),
    url("/fonts/AnimeAceItalic.woff2") format("woff2"),
    url("/fonts/AnimeAceItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AnimeAceLight";
  src: url("/fonts/AnimeAceLight.eot");
  src: local("AnimeAceLight"), local("Anime Ace Light"),
    url("/fonts/AnimeAceLight.woff2") format("woff2"),
    url("/fonts/AnimeAceLight.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 16px;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #161616;
  font-family: "AnimeAceLight", sans-serif;
}

p {
	color: #fff !important;
}

h1,h2,h3,h4,h5,h6 {
	color: #fff !important;
}

.black-fark-body-papa {
  color: #111 ;
}

.navbar {
  color: #323232;
}

.img-nsv {
  font-family: 'Comforter', sans-serif ;
}

a {
  color: #fff;
  text-decoration: none;
}

.carousel-inner {
  border-radius: 5%;
}

.card {
  border-radius: 5%;
}

.card-img {
  border-radius: 5%;
}

@media (max-width: 576px) {
  .logo {
    font-size: 0;
  }
}

@media (max-width: 1199px) {
  .card-column {
    flex-direction: column;
  }
}

.card {
  background-color: #323232;
}

.object-fit-cover {
  object-fit: cover;
  width: 100%;
}

.object-fit-contain {
  object-fit: contain;
  width: 100%;
}

.text-grey {
  color: #6c6c6c;
}

.card-black {
  display: inline;
  padding: 10px;
  background-color: #111;
}

.height-480px  img{
  max-height: 480px;
}

.section {
  margin-bottom: 70px;
}

.inline {
  display: inline
}

.hover:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
}
/* Стили для изменения цвета при наведении */
.text-danger-hover:hover {
  color: #dc3545 !important; /* Цвет красный */
  transition: 0.2s;
}

.btn-danger-hover:hover {
  color: #fff; /* Цвет текста белый */
  background-color: #dc3545; /* Цвет фона красный */
  border-color: #dc3545; /* Цвет границы красный */
}

.text-custom-hover:not(:hover) {
  color: #fff !important; /* Цвет белый */
}

.accordion-bg {
	background-color: #161616;
}

.accordion-bg-button {
	background-color: #1d1c1c;
}

.t-white {
	color: white;
}